# Python version: 3.x

# tkinter is typically included with Python on Windows/macOS.
# On Raspberry Pi OS (Linux), install it via:
# sudo apt-get install python3-tk

# No external pip packages are currently used in the ui_prototype.py, but VVPAT needs escpos
python-escpos
Pillow
qrcode

# Raspberry Pi specific dependencies (Hardware and Crypto)
# These will only be installed on Linux platforms
cryptography; sys_platform == 'linux'
RPi.GPIO; sys_platform == 'linux'
adafruit-blinka; sys_platform == 'linux'
adafruit-circuitpython-pn532; sys_platform == 'linux'
